.navbar-toggle {
	float: left;
	margin-left: 10px;
}
.testimg {
	width: 100%;
	height: 150px;
	background-color: red;
}
.testimg-sm {
	margin-top: 20px;
	height: 50px;
	background-color: red;
}
#item-sorting {
	border-left: 1px solid #ccc;
}
#item-sorting p {
	padding-left: 10px;
	height: 300px;
}